.contact{
    background: #f8f9fa;
    padding: 3rem;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap:1rem;
    width:300px;
    margin: 0 auto;
}

input,textarea{
    padding: 0.8rem;
    border:1px solid #ccc;
    border-radius: 5px;
}

textarea{
    height: 100px;
    resize: none;
}