.footer{
    background:#f8f8f8 ;
    text-align: center;
    padding: 3rem 1rem;
}
.footer h2{
    color: #1e1e1e;
}

.footer-btns{
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.footer p{
    color: #666;
}
.copyright{
    margin-top: 1.5rem;
    font-size: 0.9rem;
}