.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.8);
    position:sticky;
    top: 0;
    z-index: 1000;
    font-family: "Poppins", sans-serif;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img{
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.logo h2{
    font-size: 1.4rem;
    font-weight: 600;
    color: #1e1e1e;
}
.logo h2 {
  font-size: 1.5rem;
  color: #1e1e1e;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.logo span {
    color: #ff5a5f;
  }
  
header .nav-links{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-left: 4rem;
}

header .nav-links span{
    cursor: pointer;
    color: #222;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s ease;
}
header .nav-links span:hover{
    color: #ff5a5f;
}
.nav-buttons{
   display: flex;
   gap: 1.5rem;
}
.btn-signup{
    background: #ff5a5f;
    color:white;
    border:none;
    border-radius: 6px;
    padding: 0.6rem 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ;
}
.btn-login:hover{
    background-color: #e14b50;

}

.btn-login {
    border: 2px solid #ff5a5f;
    background: transparent;
    color: #ff5a5f;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
  }

.btn-signup:hover{
    background: #ff5a5f;
    color: white;
}
@media (max-width:768px) {
    .navbar{
        flex-direction: column;
        gap:1rem;
    }
    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
      }
    .auth-buttons {
        flex-direction: row;
        justify-content: center;
      }
}