.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background: #f8f9fa;
    font-family: "Poppins", sans-serif;
    gap: 2rem;
  
}

.hero-content{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
     gap: 1.5rem;
}

.hero-content h1{
    font-size: 3rem;
    color:#111;
    font-weight: 700;
    line-height: 1.2;
}

.hero-content p{
    font-size: 1.1rem;
    color: #555;
    max-width: 420px;
}
.btn{
  background-color: #ff5a5f;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.8rem 1.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  width: fit-content;
}
.hero-content.btn:hover{
    background-color: #e14b50;
}
.hero-image{
    flex: 1;
    text-align: right;
}
.hero-image img {
    width: 100%;
    max-width: 450px;
    border-radius: 15px;
    object-fit: cover;
  }
@media (max-width:768px) {
    .hero{
        flex-direction: column;
        text-align: center;
        padding: 3rem 2rem;
    }
    .hero-image img{
        width:320px;
    }
    .hero-content h1 {
        font-size: 2rem;
    }
    
    .hero-content p {
        margin: 0 auto;
    }
}