.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5) ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content{
    background:white ;
    padding: 2rem;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    position: relative;
}
.modal-content input{
    width: 100%;
    margin:0.5rem 0;
    padding: 0.7rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.close-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background: transparent;
    font-size: 1.2rem;
    cursor: pointer;
}
.thank-you{
    padding: 1rem;
    color: #ff5a5f;
}